TELEGRAM_BOT_TOKEN=1234456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_ADMIN_IDS=[123456789]
TELEGRAM_TYPE_PROTOCOL=long

PASARGUARD_ADMIN_PANEL=https://example.domain.cfd:port
PASARGUARD_ADMIN_LOGIN=LOGIN
PASARGUARD_ADMIN_PASSWORD=PASSWORD
PASARGUARD_API_KEY=eyJhbGciOiEXAMPLEKEY

YOOKASSA_SHOP_ID=1234567
YOOKASSA_SECRET_KEY=test_EXAMPLE_KEY

DB_ENGINE=postgresql
DB_NAME=mydb
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10

LOG_PATH=logs
LOG_ROTATION=1 day
LOG_RETENTION=30 days
LOG_LEVEL=INFO